.coffeHome {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34rem;
    width: 100%;

    .coffeHomeImage {
        width: 29.75rem;
        height: 22.5rem;
        margin-left: 3.5rem;
    }


    h3 {
        font-family: "Baloo 2", cursive;
        font-weight: 900;
        font-size: 3rem;
        width: 36.75rem;
        height: 7.75rem;
        color: var(--title);
        line-height: 130%;
    }

    .subtitle {
        width: 36.75rem;
        height: 1.563rem;
        font-family: "Roboto", sans-serif;
        font-size: 1.25rem;
        color: var(--subtitle);
        line-height: 130%;
        margin-top: 1rem;
    }

    .itens {
        display: flex;
        margin-top: 4.125rem;
        height: 5.25rem;
        width: 35.438rem;
        justify-content: space-between;

        div {
            .iten {
                display: flex;
                align-items: center;
                margin-top: 1.25rem;
                p {
                    margin-left: 0.75rem;
                }

            }

            .itenIcon {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 2rem;
                width: 2rem;
                border-radius: 90px;
                color: var(--white)
            }
            .cartIcon {
                @extend .itenIcon;
                background: var(--yellow-dark);

            }
            .timerIcon {
                @extend .itenIcon;
                background: var(--yellow);
                color: var(--white)
            }
            .packageIcon {
                @extend .itenIcon;
                background: var(--text);
            }
            .coffeIcon {
                @extend .itenIcon;
                background: var(--purple);
            }
        }

    }
}

.nossosCafes {
    display: flex;
    justify-content: center;
    padding-right: 58rem;
    font-family: "Baloo 2", cursive;
    font-weight: 900;
    color: var(--subtitle);
    line-height: 130%;
    font-size: 2rem;

}

.coffeSectionWraper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

